<script>
  $('.carousel').carousel()
</script>
<div class="container">

<div id="results-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#results-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#results-carousel" data-slide-to="1"></li>
    <li data-target="#results-carousel" data-slide-to="2"></li>
    <li data-target="#results-carousel" data-slide-to="3"></li>
    <li data-target="#results-carousel" data-slide-to="4"></li>
    <li data-target="#results-carousel" data-slide-to="5"></li>
    <li data-target="#results-carousel" data-slide-to="6"></li>
    <li data-target="#results-carousel" data-slide-to="7"></li>
    <li data-target="#results-carousel" data-slide-to="8"></li>
    <li data-target="#results-carousel" data-slide-to="9"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    {{!-- <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div> --}}

    {{#each results}}
    <div class="dog-carousel-item item{{#if active}} active{{/if}}">

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="image-container-div">
            {{#if imageUrl}}
              <img src="{{imageUrl}}" alt="Picture of a {{name}}">
            {{else}}
              <img src="https://via.placeholder.com/400" alt="Placeholder dog photo">
            {{/if}}
          </div>
        </div>

        <div class="col-md-5">
          <div class="{{!-- carousel-caption d-none d-md-block --}}">
            <h2>{{name}}</h2>
            {{#if breedGroup}}
              <h4>Breed Group: {{breedGroup}}</h4>
            {{/if}}
            {{#if bredFor}}
              <p><strong>Bred for:</strong> {{bredFor}}<p>
            {{/if}}
            <p><strong>Weight:</strong> {{minWeight}} - {{maxWeight}} lbs.</p>
            <p><strong>Height:</strong> {{minHeight}} - {{maxHeight}} ft.</p>
            <p><strong>Life Span:</strong> {{lifeSpan}} </p>
            <p><strong>Temperament:</strong> {{temperament}}</p>
          </div>
        </div>

      </div>


    </div>
    {{/each}}
  </div>

  {{!-- "Previous" and "Next" buttons --}}
  <a class="left carousel-control" href="#results-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#results-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
